{% extends "nav-bar.html" %}

{% block title %} Atomic Odyssey {%endblock%}
{% block mastery %} {{mastery}} {%endblock%}
{% block level %} {{level}} {%endblock%}

{% block content%}
    
    <div class="creds-title">
        <h1>
            Atomic Odyssey
        </h1>
        <div class="members">
            <h4 style="color: white;">
                Atomic Odyssey was developed thanks to these people: 
            </h4>
            <p>
                Jiovanni M. Pareja - Programmer
            </p>
            <p>
                Clarence Pedoc - Document
            </p>
            <p>
                Jan Kamille Yap - Encoder
            </p>
            <p>
                Lorence Tagoctoc - Design / Moral Support
            </p>
            <p>
                John Marvin San Pedro - Encoder
            </p>
        </div>
        <div class="links">
            <h4 style="color: white;">
                Sites that really helped us to develop the app: 
            </h4>
            <a href="https://pubchem.ncbi.nlm.nih.gov/periodic-table/">
                PubChem 
            </a>
            <a href = "https://www.youtube.com/channel/UC4oizRrgpOFXCin1VFvFq0w">
                Applied STEM
            </a>
            <a href="https://www.youtube.com/@AsapSCIENCE">
                AsapSCIENCE
            </a>
            <a href="https://www.youtube.com/channel/UCSWDyekWJxZ96W0lBNo5Dgg">
                Knowledge Archive
            </a>
            <a href="https://www.youtube.com/testtube101">
               TestTube 101 
            </a>
            <a href="https://www.youtube.com/@DaveHax">
                DaveHax
            </a>
            <a href="https://www.youtube.com/@Thoisoi2">
                Thosoi
            </a>
            <a href = "https://www.youtube.com/@periodicvideos">
                Periodic Videos
            </a>
            <a href="https://www.youtube.com/@SciShow">
                SciShow
            </a>
        </div>
    </div>
    
{% endblock %}
